body{
    background-color:#f2f2f2
}
a{
    text-decoration: none;
    color:#000000;
}
.header{
    height: 80px;
    display: flex;
    align-items: center;
    padding:0 50px 0 50px;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;
    right: 0;   
    /* margin:40px; */
    background:#ffffff;
}
.img_logo{
    height: 25px;
    padding:10px 10px 0 0;
    

}
.logos{
    display: flex;   
}
.search-container{
    margin-right: 15px;
}
.makeup{
    text-align: center;
    margin:80px 0 5px 0;
    background-color: #1D5825;
    padding: 10px 0 10px 0;
    color:#9DD3A1;
    font-size: 20px;
    
}
.catalogs{
    padding:15px;
    display: flex;
    justify-content:space-around;
    background-color: #9DD3A1;
    flex-wrap: wrap;
}
.catalog{
    border-right: 2px solid #1D5825;
    padding-right: 6%
}
.catalog:hover{
    /* background-color: #71c77c;
    padding:5px; */
    color:#116000;
}
.catalog_:hover{
    color:#116000;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    margin:20px;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding:20px 10px;
    color: #ffffff;
    width:320px;
    background: linear-gradient(#9dd3a0, #5a1c2e);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.items-div-img{
    background-color: #ffffff;
    border-radius: 15px;
    width:244px;
    height:244px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%
}
.item-img{
    width: 244px;
    height: 214px;
    object-fit: contain;
}
.item-h2{
    font-size: 25px;
    margin:0;
}
.item-desc{
    margin:0;
    font-size: 13px;
}
.item-price{
    color:#1D5825;
    font-size: 20px;
    display:flex;
    align-items: center;
    margin: 5px 0;
}
.item-buy{
    display:flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    border:none;
    outline: none;
    cursor: pointer;
    color: #5a1c2e;
    padding: 12px;
    width: fit-content;
    font-size:20px;
    background-color: #71c77c;
    /* background: linear-gradient(to left , blue, red); */
    background: linear-gradient(45deg, #bf6870, #67a55a);
    /* background: linear-gradient(#71c77c, #9198e5); */

}
.div-registration{
    width:8px;
    height:8px;
    background-color: #21c500;
    margin-left:50%;
    display: none;
    border-radius: 50px;
}
footer{
    background-color: #71c77c;
    padding:20px;
    margin: 10px;
}
.footer-div{
    display: flex;
    margin:20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-div-section{
    display: flex;
    margin: 10px;
}
.footer-div-article{
    margin:10px;
    
}
.footer-div-section-2{
    margin: 0 10px 10px 10px;
}
.div-section-ul{
    font-size: 25px;
}
.div-section-li, .div-section-p{
    font-size: 17px;
}
.footer-div-img{
    margin:10px
    
}